{% extends 'common/base.html' %}

{% block title %}Login{% endblock %}
{% block extra_head %}
  <style>
    .login-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
    }

    .login-container form {
        width: 100%;
        max-width: 400px;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 8px;
    }

    .login-container h1 {
        margin-bottom: 20px;
    }

    .login-container label {
        display: block;
        margin-bottom: 5px;
    }

    .login-container input[type="text"],
    .login-container input[type="password"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        box-sizing: border-box;
    }

    .login-container button {
        width: 100%;
        padding: 10px;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="login-container">
    <h1>Login</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Войти</button>
    </form>
  </div>
{% endblock %}